{%extends "base.html"%}
{% load static %}
{% block content %}
<h1>Список тайтлів</h1>

{% if user.is_authenticated %}
    <a href="{% url 'titel_create' %}">Створити новий</a>
{% endif %}

<hr>

{% for titel in titels %}
    <div>
        <h2>
            <a href="{% url 'titel_detail' titel.pk %}">
                {{ titel.titel }}
            </a>
        </h2>
        <p>{{ titel.description|truncatechars:100 }}</p>
        <small>Автор: {{ titel.author }}</small>
    </div>
    <hr>
{% empty %}
    <p>Поки що немає тайтлів.</p>
{% endfor %}

{% endblock %}