<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME CENTER</title>
</head>
<body>
    <nav>
        <div>
        <a href="#"><h1>Game Center</h1></a>
            <div>
                <form method="get" action="/">
                    <input type="text" name="q" placeholder="Пошук..." required>
                    <button type="submit">Прошук теми</button>
                </form>
                <ul>
                    <li>
                        <a href="#">Пошук команди</a>
                    </li>
                    <li>
                        <a href="#">Обговорення</a>
                    </li>
                    <li>
                        <a href="#">Створити обговорення</a>
                    </li>
                    <li>
                        <a href="#">Мої обговорення</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Вхід</a>
                    </li>
                    <li>
                        <a href="#">Вихід</a>
                    </li>
                    <li>
                        <a href="#">Реєстрація</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {%block content%}
    {%endblock%}
</body>
</html>