body {
    background: linear-gradient(to bottom, #0f0f0f, #e5e5e5);
}

ul {
    list-style: none;
}

/* base.html */
/* Шапка */
.nav-list {
    background: white;
    padding: 30px 50px;
    border-radius: 8px;
    margin: 20px 20px;
    box-shadow: 5px 5px 10px black;
}

/* Основний контейнер */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Лого */
.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

/* Меню */
.center-menu,
.right-menu {
    font-family: "Geologica", sans-serif;
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0px 40px;
}

.button-clik {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #0f0f0f;
    box-shadow: 3px 3px 5px #0f0f0f;
}

/* Посилання */
.center-menu a {
    text-decoration: none;
    color: black;
}

.right-menu a {
    text-decoration: none;
    color: white;
}

/* Пошук */
.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 80px 0px 80px 440px;
    padding: 10px 10px 10px 130px;
}

.search-input {
    font-family: "Geologica", sans-serif;
    padding: 20px 530px 20px 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    
}

.search-button {
    font-family: "Geologica", sans-serif;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

/* home.html */
.block-home {
    background: #ffff;
    padding: 30px 20px 20px 20px;
    margin: 40px 20px 40px 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.about-section {
    background: #ffff;
    padding: 60px 40px 40px 20px;
    margin: 60px 500px 60px 40px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.team-search-section {
    background: #0f0f0f;
    padding: 60px 40px 40px 40px;
    text-align: right;
    margin: 60px 40px 60px 500px;
    color: #ffff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.discussion-section {
    background: #ffff;
    padding: 60px 40px 40px 40px;
    margin: 60px 500px 60px 40px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.container {
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
}

.logo-bocks {
    font-family: "Orbitron", sans-serif;
}

.text-info {
    font-family: "Geologica", sans-serif;
}

.text-funcshen {
    font-family: "Geologica", sans-serif;
}